@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  text-decoration: none;
}

body {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

.navbar {
  background: rgb(0, 0, 0);
  font-family: calibri;
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a {
  font-size: 35px;
  font-weight: 600;
  color: white;
}
li {
  list-style: none;
  display: inline-block;
}
li a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
button {
  background-color: rgb(108, 101, 101);
  margin-left: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 90px;
}
button a {
  color: white;
  font-weight: bold;
  font-size: 15px;
}

h1 {
  text-align: center;
}

/* ---- */

.title-card {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.title-card h1 {
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

main a {
  text-decoration: none;
  color: black;
}

.card-lost {
  background: rgba(0, 0, 0, 0.1);
  display: inline-flex;
  justify-content: center;
  padding: 50px 70px;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  padding: 50px 70px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.card-lost h2 {
  font-size: 50px;
  text-align: center;
}

.card-found {
  background: rgba(0, 0, 0, 0.1);
  display: inline-flex;
  justify-content: center;
  padding: 50px 70px;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.1);
  padding: 50px 70px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.card-found h2 {
  font-size: 50px;
  text-align: center;
}

/* :hover .card-lost {
  padding: 60px 80px;
  transition: 1s;
}

:hover .card-found {
  padding: 60px 80px;
  transition: 1s;
} */
